.row {
  background: "#F5F5F5";
}
.header {
  text-align: "center";
  // padding: theme.spacing.xs;
  font-weight: "bold";
}
.cell {
  // padding: theme.spacing.xs;

  color: "#909296";
  // fontWeight: 600;
}
.grayedOut {
  color: "#101113";
  font-weight: 600;
}
